main {
    width: 1200px;
    height: 1200px;
    background-color: green;
    margin: 50px auto;
}

.clock img {
    width: 400px;
    height: 400px;
    margin-left: 100px;
}

.arrow img {
    width: 20px;
    height: 200px;
    margin-left: 100px;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-name: arrow;
}

@keyframes arrow {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.arrow transform-origin: bottom;
translate (-50%;
100%)