body {
  padding: 200px;
  color: violet;
}

.click:hover {
  transition: 0.5s linear;
transform: translateY(25px);
  background-color: blue;
  box-shadow: 0 50px 50px 20px rgba(0, 0, 0, 0.7);
  margin: auto;
  cursor: pointer;
}

.click {
  border-radius: 20px;
  width: 600px;
  height: 150px;
  background-color: green;
  font-size: 50px;
  text-transform: uppercase;
  color: lightblue;
}
